# Local Byte-compiled
.vscode
node_modules/
jspm_packages/
coverage/
build/
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

.DS_Store

# Optional eslint cache
.eslintcache
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.hcl

# Crash log files
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json